.access-denied-container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock-icon {
    animation: shake 0.5s;
}

@@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }
}

.fade-in {
    animation: fadeIn 0.8s ease-in;
}

@@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
